<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILENT CUE</title>
</head>
<body>
    <div>
    <button type="button" onclick="window.location.href='/create_room/'">Create Room</button>
    <form method="post" action="/join_room/">
    {% csrf_token %}
    <input type="text" name="room_code" placeholder="Enter Room Code">
    <button type="submit">Join Room</button>
    </form>
    </div>
    <div>
        <img src="/static/images/homedrop.png" alt="home banner filler">
    </div>
</body>
</html>

